<p>Enter a place you've been:</p>
<form action="/items" method="post">
  <label for="location">Location:</label>
  <input id="location" name="location" type="text">
  <label for="stay">How long you stayed:</label>
  <input id="stay" name="stay" type="text">
  <label for="buddies">Who you traveled with:</label>
  <input id="buddies" name="buddies" type="text">
  <label for="notes">Notes:</label>
  <input id="notes" name="notes" type="text">
  <button type="submit">Submit</button>
</form>